
	        .ani{
	           width:480px;
	           height:320px;
	           margin:50px auto;
	           overflow: hidden;
	           box-shadow:0 0 5px rgba(0,0,0,1);
	           background-size: cover;
	           background-position: center;
	           animation: "loops" 20s infinite;
	           -webkit-animation-name: "loops";
	           -webkit-animation-duration: 20s;
	           -webkit-animation-iteration-count: infinite;
	           -moz-animation-name: "loops";
	           -moz-animation-duration: 20s;
	           -moz-animation-iteration-count: infinite;
	         }

	          @keyframes "loops" {
	     0% {
	                 background:url(image/left1.jpg) no-repeat;             
	             }
	     25% {
	                 background:url(image/left1.jpg) no-repeat;
	             }
	      50% {
	                 background:url(image/p1.jpg) no-repeat;
	             }
	      75% {
	                 background:url(image/p2.jpg) no-repeat;
	             }
	      100% {
	                 background:url(image/p3.jpg) no-repeat;
	             }
	         }
		 @-webkit-keyframes "loops" {
	       0% {
	                 background:url(image/left1.jpg) no-repeat;             
	             }
	     25% {
	                 background:url(image/left1.jpg) no-repeat;
	             }
	      50% {
	                 background:url(image/p1.jpg) no-repeat;
	             }
	      75% {
	                 background:url(image/p2.jpg) no-repeat;
	             }
	      100% {
	                 background:url(image/p3.jpg) no-repeat;
	             }
	         }
	         @-moz-keyframes "loops" {
	       0% {
	                 background:url(image/left1.jpg) no-repeat;             
	             }
	     25% {
	                 background:url(image/left1.jpg) no-repeat;
	             }
	      50% {
	                 background:url(image/p1.jpg) no-repeat;
	             }
	      75% {
	                 background:url(image/p2.jpg) no-repeat;
	             }
	      100% {
	                 background:url(image/p3.jpg) no-repeat;
	             }
	         }